version = 0.1
[default.deploy.parameters]
stack_name = "sa"
region = "ap-southeast-1"
resolve_s3 = true
s3_prefix = "sentiment-analysis"
confirm_changeset = true
capabilities = "CAPABILITY_IAM CAPABILITY_AUTO_EXPAND"
parameter_overrides = [
    "RedditClientId=your-client-id",
    "RedditClientSecret=your-client-secret",
    "BucketName=your-bucket-name",
    # if you have an OpenAI key, set it here to improve keyword suggestion
    "OpenAIApiKey=your-openai-key",
    # Supabase configuration
    "SupabaseUrl=your-project.supabase.co",
    "SupabaseKey=your-supabase-key"
]